
*,
*::after
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 80%; }

body {
  font-family: 'Poiret One', cursive;
  font-weight: 400;
  line-height: 1.7;
  background-color: #fff;
  box-sizing: border-box; }


::after {
  content: "";
  display: table;
  clear: both; }

.header {
  height: 30vh;
  text-align: center;
  background: linear-gradient(red, yellow);
}

.generate-section > form > input {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.comic-section > h1, h2, h3, p, img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}
